<%- include('../partials/header') %>

<body>
  <h2>Flight Details</h2>
  <p>Airline: <%= flight.airline %></p> 
  <p>Departure Airport: <%= flight.airport %></p>
  <p>Flight No: <%= flight.flightNo %></p>
  <p>Departs: <%= flight.departs.toDateString() %></p>

</body>

<!-- start arrivals list -->

<% if (flight.destinations && flight.destinations.length > 0) { %>
  <h3>Arrivals</h3>
  <table>
    <thead>
      <tr>
        <th>Destination Airport</th>
        <th>Arrival Date</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.forEach(arrival => { %>
        <tr>
          <td><%= arrival.airport %></td>
          <td><%= arrival.arrival.toDateString() %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <p>No arrivals found for this flight.</p> 
<% } %>


<form method="POST" action="/flights/<%= flight._id %>/destinations" enctype="application/json">
  <label>Airport Code: 
    <input type="text" name="airport">
  </label>
  <label>Arrival Date: 
    <input type="datetime-local" name="arrival">
  </label>
  <input type="submit" onclick="submitForm(event)">
</form> 

<!-- start tickets list -->

  <% if (flight.tickets && flight.tickets.length > 0) { %>
    <h3>Tickets</h3>
    <table>
      <thead>
        <tr>
          <th>Seat Number</th>
          <th>Ticket Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(ticket => { %>
          <tr>
            <td><%= ticket.seat %></td>
            <td><%= ticket.price %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <p>No tickets found for this flight.</p> 
  <% } %>

<!-- Also on the flight’s show view, display a New Ticket link (perhaps styled to look like a button) When the form is submitted, create the ticket on the server and redirect back to the flight’s show view. -->

  <form id="add-ticket-form" action="/flights/<%=flight._id %>/tickets" method="POST">
    <!-- add two form elements to add ticket seat number and price  -->
    <label>Seat Number
      <input required pattern="^[1-9][0-9]?([A-F])$" name="seat">
    </label>
     <label>Ticket Price
      <input type="number" name="price">
    </label>
    <button type="submit">New Ticket</button>
</form>


  
<a href="/flights">Back to Flights</a> 

<!-- AAU, when viewing the detail page for a flight, I want to view a list of the tickets that have been created for that flight -->



<%- include('../partials/footer') %>