<%- include('../partials/header') %>

<body>
  <h2>Flight Details</h2>
  <p>Airline: <%= flight.airline %></p> 
  <p>Departure Airport: <%= flight.airport %></p>
  <p>Arrival Airport: <%= flight.destinations[0].airport %></p>
  <p>Flight No: <%= flight.flightNo %></p>
  <p>Departs: <%= flight.departs.toDateString() %></p>

</body>

<form method="POST" action="/flights/<%= flight._id %>/destinations" enctype="application/json">
  <label>Airport Code: 
    <input type="text" name="airport">
  </label>
  <label>Arrival Date: 
    <input type="datetime-local" name="arrival">
  </label>
  <input type="submit" onclick="submitForm(event)">
</form> 


  
<a href="/flights">Back to Flights</a> 

<%- include('../partials/footer') %>