<%- include('../partials/header') %>

<body>
  <h2>Flight Details</h2>
  <p>Airline: <%= flight.airline %></p> 
  <p>Departure Airport: <%= flight.airport %></p>
  <p>Arrival Airport: <%= flight.destinations.airport %></p>
  <p>Flight No: <%= flight.flightNo %></p>
  <p>Departs: <%= flight.departs.toDateString() %></p>

</body>

<form method="POST" action="/flights/<%= flight._id %>/destinations" enctype="application/json">
  <label>Airport Code: 
    <input type="text" name="airport">
  </label>
  <label>Arrival Date: 
    <input type="datetime-local" name="arrival">
  </label>
  <input type="submit" onclick="submitForm(event)">
</form> 



<!-- Also on the flight’s show view, display a New Ticket link (perhaps styled to look like a button) When the form is submitted, create the ticket on the server and redirect back to the flight’s show view. -->

  <form id="add-ticket-form" action="/flights/<%=flight._id %>/tickets" method="POST">
    <!-- add two form elements to add ticket seat number and price  -->
    <label>Seat Number
      <input required pattern="[A-F][1-9]\d?" name="seat">
    </label>
     <label>Ticket Price
      <input type="number">
    </label>
    <button type="submit">New Ticket</button>
</form>


  
<a href="/flights">Back to Flights</a> 

<!-- AAU, when viewing the detail page for a flight, I want to view a list of the tickets that have been created for that flight -->



<%- include('../partials/footer') %>